*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(18, 10, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.5px;
}
.imgbox{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    
}
.imglogo{
    border-radius: 50%;
    box-shadow:5px 5px  20px 3px rgb(119, 1, 1) , -5px 5px  20px 3px rgb(119, 1, 1) , 5px -5px  20px 3px rgb(119, 1, 1), -5px -5px  20px 3px rgb(119, 1, 1) ;

    
}
.menu{
    margin-top: 20px;
}
.link{
    border: 2px solid #f3c9c9;
    border-radius:8px ;
    margin: 20px 10px;
    padding: 5px 13px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

    column-gap: 20px;
}

.link:hover{
    background-color: rgb(54, 3, 54);
    transition: 0.4s;
}

.link-yutube {
    border: 1px solid #270a0a;
    border-radius:8px ;
    margin: 20px 10px;
    padding: 5px 13px;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    column-gap: 20px;
}



.text-box p{
    color: azure;
    margin-top: 20px;
    margin-left: 30px;
    margin: 30px;
    width: 500px;
    font-weight: 400;
    font-stretch: extra-condensed;
    text-align: center;
}